{%extends "myapp/base.html"%}
{%block content%}


      
<div class="container mt-3">
    <h2>Basic Table</h2>
    <p>The table for the total workorders:</p>
               
    <table class="table">
      <thead>
        <tr>
          <th>Department</th>
          <th>Recieving Unit</th>
          <th>Date Recieved</th>
          <th>Completion Date</th>
          <th>Manager</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
         
     
        <tr>
          <td>{%for workordere in workorders1%}  {{workordere.department}} {%endfor%} </td>
          <td>{%for workordere in workorders1%} {{workordere.receiving_unit}} {%endfor%}</td>
          <td>{%for workordere in workorders1%} {{workordere.date_received}} {%endfor%}</td>
          <td>{%for workordere in workorders1%} {{workordere.completion_date}} {%endfor%}</td>
          <td>{%for workordere in workorders1%} {{workordere.manager}} {%endfor%}</td>
          
          
        </tr>
        
        
          
      </tbody>
    </table>
    
  </div>
  <h2>Summary</h2>
     
<br/><br/>


      
      {%endblock%}