{%extends "myapp/base.html"%}
{%load static%}
{%block content%}
<h1>Workorders....</h1>

<!--<table class="table table-striped table-hover table-bordered">
  <div class="table-responsive">-->
    <!--<table class="table align-middle">
      <thead>
        <tr>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          {%for workorder in workorders%}
        </tr>
        <!--<tr class="align-bottom">
          ...
        </tr>
        <tr>
          <td>{{workorder.Requesting_unit}}</td>
          <td>{{workorder.department}}</td>
          <td>{{workorder.receiving_unit}}</td>
          <td>{{workorder.date_received}}</td>
          <td>{{workorder.equipment}}</td>
          <td>{{workorder.item_used}}</td>
          <td>{{workorder.department}}</td>
          <input type="hidden" name='done' value=""/>
          <input type="checkbox" name="done" value="on" {%if workorder.completed%} checked
         {%endif%} >         
         {%if workorder.completed %}
         <input type="hidden" name="done" value="on"/>
         {%endif%}

                   <button type='' class='btn btn-sm btn-success'>Yes done</button>
          
          <td class="align-top">This cell is aligned to the top.</td>
          <td>
            <a href="{%url 'all-workorder'%}" class="btn btn-primary">Workorder</a>
            <div class="card-footer text-muted">
              <a href="{%url 'update-workorder' workorder.id%}"
                          class="btn btn-outline-secondary btn-sm">Update Workorder</a>
            
              
              <a href="{%url 'delete-workorder' workorder.id%}"
              class="btn btn-outline-danger btn-sm">Delete Workorder</a>
            </div>
        
         
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>-->
    
  </div>
<div class="card">
      <div class="card-header">
            <h1>{{workorder}}</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
            
                  <strong>Requesting Unit</strong>:{{workorder.Requesting_unit}}<br/>
                  <strong>Department</strong>:{{workorder.department}}<br/>
                  <strong>Department Taken To</strong>:{{workorder.receiving_unit}}<br/>
                  <strong>Date Recieved</strong>:{{workorder.date_received}}<br/>
                  <strong>Completion Date</strong>:{{workorder.completion_date}}<br/>
                  <strong>Equipment Type</strong>:{{workorder.equipment}}<br/>
                  <strong>Items Replaced</strong>:{{workorder.item_used}}<br/>
                   <strong>Supervising Officer</strong>:{{workorder.manager}}<br/>
                   {%if workorder.completed is true%}
                   <button type='' class='btn btn-sm btn-success'>Yes done</button>
                   <strong>Condition after Repair</strong>:{{workorder.completed}}<br/>
                   <br/><strong>Attendees</strong><br/>
                   {%endif%}
            {%for user in workorder.attendees.all%}
            {{user}}
                  {%endfor%}
                  
                             
           
        </p>
        
      </div>
    </div>




<div class="card-footer text-muted">
      <a href="{%url 'update-workorder' workorder.id%}"
                  class="btn btn-outline-secondary btn-sm">Update Workorder</a>
    
      
      <a href="{%url 'delete-workorder' workorder.id%}"
      class="btn btn-outline-danger btn-sm">Delete Workorder</a>
    </div>



{%endblock%}

      
      